

body{
    background: #210303;
}

.container{
    width:100%;
}

.loader-wrapper {
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    opacity: 0.5;


.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  margin:auto auto;
  margin-top:300px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.searchBox{
        position: absolute;
      top: 13px;
    right: 35px;

   .inputSearch{
    height: 14px;
    padding-top: 13px;
    text-align: center;
    font-size: 14px;
    border-radius: 17px;
    width: 15em;
    background: initial;
    color: wheat;
    border: 1px solid aliceblue;

    &:focus{
    background:white;
    color:black
    }

     &:active{
    color:transparent;
    }
   }

   .fa-search{
    color: burlywood;
    background: #6e9fa0;
    padding-top: 0px;
    cursor: pointer;
   }
}

.movieDescription{
    margin: 40px;
   
    display: inline;
    background: center;
    float: left;

    .img-width{
    width:220px;
    float:left;
    cursor:pointer;
}

    .contentDescription{
     margin-left: 240px;
    color: white;
    width: 56%;
    /* float: left; */
    height: 100%;

    .big-font{
     font-size:30px;
    }

    .already-watched{
    background: brown;
    width: 57px;
    padding: 5px;
    float: left;
    position: relative;
    bottom: 12px;
    }
    .rating{
    float: left;
    margin-right: 17px;
    margin-bottom: 15px;
    }
    }
}
#animation-show{
   animation: 2s ease-out 0s 1 slideInFromTop; 

   @keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
} 
}
.watched-movies{
    border-top: 1px solid brown;
    float: left;
    background-color: aquamarine;
    padding: 20px;
    width: 100%;

    .addColor{
    color: #c38919 !important;
    }
        
.see-more{
    color: #051921;
    width: 100%;
    font-size: 27px;
    margin-top: 20px;
    background: #946221;
    /* margin: auto; */
    text-align: center;
    cursor: pointer;
    display: inline-block;
        &:hover {
          color: blue;
          cursor:pointer;
            }
          &:active {
          color: blue;
            }
            
        }
        
        .movie{
          float: left;
         margin: 20px 30px;
          
          .like-unlike{
            display:block;

                .fa-2x{
                color:black;
                margin: 0 40px;
                    &:hover {
                    color: red;
                    cursor:pointer;
                    }

                    &:active {
                    color: yellow;
                    }

                    }
                    }

            .img-width{
             width: 220px;
             height: 300px;
             cursor:pointer;
         }
        }
    }

    


